<div class="body">
  <div class="login">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input
          type="text"
          name="username"
          placeholder="Username"
          formControlName="username"
        />
        <app-showerror [form]="form" [controlname]="'username'" />
      </div>
      <div class="input-container">
        <input
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <app-showerror [form]="form" [controlname]="'password'" />
      </div>
      <button>Log In</button>
        <a class="nav-link" [routerLink]="['../forgotPassword']">Forgot password?</a>
    </form>
  </div>
</div>
