<div class="body">
    <div class="login">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <input
            type="password"
            name="password"
            placeholder="New Password"
            formControlName="password"
          />
          <app-showerror [form]="form" [controlname]="'password'" />
        </div>
        <div class="input-container">
          <input
            type="password"
            name="confirmpassword"
            placeholder="Confirm Password"
            formControlName="confirmpassword"
          />
          <app-showerror [form]="form" [controlname]="'confirmpassword'" />
        </div>
        <button>Submit</button>
        <a class="nav-link" [routerLink]="['..']">Back</a>

      </form>
    </div>
  </div>
  