.login {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    height: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: ghostwhite;
    width: 90%;
}

button {
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    width: 50%;
    border: none;
    background-color: #573b8a;
    color: white;
    font-size: 1em;

}

button:hover {
    background: #6d44b8;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.nav-link{
    margin-top: 10px;
}

app-showerror {
    position: absolute;
    bottom: -20px;
    left: 10px;
    color: red;
    font-size: 0.8em;
}


// Tablet
@media (max-width: 740px) {
    .login {
        width: 50%;
    }
}

// Mobile
@media (max-width: 480px) {
    .login {
        width: 80%;
    }

    button {
        width: 70%;
    }
}